<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeQXlU_6nrqjQjUBWZGL570AuH0s5XuF4</string>
	<key>GCM_SENDER_ID</key>
	<string>97650605420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.savvy</string>
	<key>PROJECT_ID</key>
	<string>savvy-9db26</string>
	<key>STORAGE_BUCKET</key>
	<string>savvy-9db26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97650605420:ios:79bc1e32847fd83f5e8749</string>
</dict>
</plist>